.booking {
    background: #f9f9f9;
    overflow: hidden;
    border-radius: 10px;
    border: 1px solid #5e9aab;
    padding: 1em 2em;
    margin: 3em;
    &__head {
        display: flow-root;
        font-size: 22px;
        font-weight: 500;
        text-align: center;
        color: #3b8696;
        padding-bottom: 2em;
        i {
            margin-right: 0.5em;
        }
    }
    label {
        float: left;
        margin-left: 1em;
        color: #3b8696;
        font-size: 20px;
    }
    select {
        padding: 1em;
    }
    .form-control {
        &:focus {
            border: 1px solid #5e9aab !important;
            box-shadow: none !important;
        }
    }
    input {
        margin: 0 0 0 1em;
        height: 65px !important;
        padding: 0px 1em;
        font-size: 20px;
        font-family: 'Open Sans', sans-serif;
        background-color: #fff !important;
        border: 1px solid #dadada !important;
        border-radius: 50px;
        transition: all 250ms ease-in-out;
        color: #3d3d3d;

        &:focus {
            outline: none;
            box-shadow: none !important;
            border: 1px solid #5e9aab !important;
        }

        &:disabled {
            color: #a39b9b !important;
        }
    }
    .row {
        margin: 0 2em 2.5em 2em;
    }
}
