#match{
 
  background:#5e9aab ;
  padding: 16px;
}
#badge{
    padding: 15px;
}
#badgep{
    color: white;
    background: purple;
    padding: 16px;
}
#badgepi{
    color: white;
    background: pink;
    padding: 16px;
}
#badgey{
    color: white;
    background: yellow;
    padding: 16px;
}
#badgeo{
    color: white;
    background: orange;
    padding: 16px;
}
.bookticket{
    margin: 25px 0;
    //border-style:groove ;
   // border-color:#3b8696 ;
    //border-width:2px ;
}
#PhotoMatch{
    width: 100%;
}
.colorSeat{
    padding: 15px;
}