.fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
  }
footer {
  background:linear-gradient(to right,
          #3b8696,
          #5e9aab,
          #78a6b4
  );
  color: #e2e2e2;

  h5 {
    font-size: 18px;
    font-weight: 600 !important;
    letter-spacing: 0.7px;
  }
  a{
    color: #fff;
    opacity: 0.8;
    transition: opacity 150ms;
    &:hover {
      opacity: 1;
      text-decoration: none;
    }
    &:focus {
      text-decoration: none;
    }
  }
}
.fab {
  background: none !important;
  font-size: 1.6em;
  color: #fff;
  opacity: 0.8;
  padding-right: 10px;
  transition: opacity 150ms;
  &:hover {
    opacity: 1;
    text-decoration: none;
  }
}
.p-4{
  padding: 1.5em 3em !important;
}

  .fa-facebook {
    background: #3B5998;
    color: white;
  }

  .fa-twitter {
    background: #55ACEE;
    color: white;
  }

  .fa-google {
    background: #dd4b39;
    color: white;
  }

  .fa-linkedin {
    background: #007bb5;
    color: white;
  }

  .fa-youtube {
    background: #bb0000;
    color: white;
  }

  .fa-instagram {
    background: #125688;
    color: white;
  }

  .fa-pinterest {
    background: #cb2027;
    color: white;
  }

  .fa-snapchat-ghost {
    background: #fffc00;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  }

  .fa-skype {
    background: #00aff0;
    color: white;
  }

  .fa-android {
    background: #a4c639;
    color: white;
  }

  .fa-dribbble {
    background: #ea4c89;
    color: white;
  }

  .fa-vimeo {
    background: #45bbff;
    color: white;
  }

  .fa-tumblr {
    background: #2c4762;
    color: white;
  }

  .fa-vine {
    background: #00b489;
    color: white;
  }

  .fa-foursquare {
    background: #45bbff;
    color: white;
  }

  .fa-stumbleupon {
    background: #eb4924;
    color: white;
  }

  .fa-flickr {
    background: #f40083;
    color: white;
  }

  .fa-yahoo {
    background: #430297;
    color: white;
  }

  .fa-soundcloud {
    background: #ff5500;
    color: white;
  }

  .fa-reddit {
    background: #ff5700;
    color: white;
  }

  .fa-rss {
    background: #ff6600;
    color: white;
  }
  .fa {
    padding: 4px;
    font-size: 21px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 84%;
}
.glyphicon-envelope:before {
    content: "\2709";
    margin: 10px;
}